@use "../helpers" as *;

// https://piccalil.li/blog/a-modern-css-reset

/* Set the color for selected text */
::selection {
  background-color: rgba(var(--color-secondary-rgb), 0.8);
  color: #fff;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin/padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 1200px) {
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #d1d1d1; //#B0B0B0;
      border-radius: 0;
    }

    &::-webkit-scrollbar-track {
      background: #f5f5f5; //#E0E0E0;
    }
  }
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
