@use "../helpers" as *;

* {
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "sans-serif";
  color: var(--color-font);
  line-height: 1.3;
}

p {
  font-family: var(--font-text);
  color: var(--color-font);
  @apply text-base/normal;
}
